---
import Education from "@components/creative/Education.astro";
import Skills from "@components/creative/Skills.astro";
---

<section class="flex flex-col gap-10">
  <Education position="right" />
  <Skills position="right" />
</section>
