---
import About from "@components/creative/About.astro";
import Experience from "@components/creative/Experience.astro";
---

<section class="flex flex-col gap-8">
  <About position="left" />
  <Experience position="left" />
</section>
