---
import Section from "@components/Section.astro";
import { $userSelected } from "@store/store";

const { basics } = $userSelected.value!;
const { summary } = basics;
---

<Section title="Sobre mí">
  <p class="text-sm leading-6">{summary}</p>
</Section>
