---
import { $userSelected } from "@store/store";
import TitleSection from "./TitleSection.astro";

const { basics } = $userSelected.value!;
const { summary } = basics;
---

<article>
  <TitleSection title="sobre mí" />
  <p class="text-sm leading-6">{summary}</p>
</article>
