---
import { $userSelected } from "@store/store";
import TitleSection from "@components/modern/TitleSection.astro";

const { education } = $userSelected.value!;
---

<article class="flex flex-col gap-2 mb-8 text-[var(--text)]">
  <TitleSection title="educación" />
  <div class="flex items-center gap-3">
    <ul class="flex flex-col gap-2">
      {
        education.map(({ area, institution, startDate, endDate }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear = new Date(endDate).getFullYear();
          return (
            <li class="flex flex-col gap-1">
              <div class="flex gap-x-2 items-center text-sm">
                <span class="text-2xl">&bullet;</span>
                <p class="font-semibold m-0">{area}</p>
              </div>
              <p class="pl-4 text-xs">{institution}</p>
              <p class="pl-4 text-xs">
                {startYear}-{endYear}
              </p>
            </li>
          );
        })
      }
    </ul>
  </div>
</article>
