---
import { $userSelected } from "@store/store";
import Section from "@components/Section.astro";

const { basics } = $userSelected.value!;
const { name, label, image } = basics;
---

<Section>
  <header
    class="flex bg-[var(--bgHeader)] px-14 min-h-56 items-center justify-end relative"
  >
    <figure class="w-[45%] absolute -bottom-6 left-10">
      <img
        class="w-52 rounded-full border-8 border-[var(--bgHeader)]"
        src={image}
        alt={name}
      />
    </figure>
    <div class="w-[55%] flex flex-col gap-6">
      <h2 class="text-5xl font-bold leading-[3.5rem] text-[var(--title)]">
        {name}
      </h2>
      <h3
        class="uppercase text-sm font-bold tracking-widest text-[var(--title)]"
      >
        {label}
      </h3>
    </div>
  </header>
</Section>
