---
import { $userSelected } from "@store/store";
import TitleSection from "@components/modern/TitleSection.astro";

const { languages } = $userSelected.value!;
---

<article class="text-sm flex flex-col gap-2 text-[var(--text)]">
  <TitleSection title="Idiomas" />
  <div class="flex items-center gap-3">
    <ul>
      {
        languages.map(({ language, fluency }) => (
          <li class="flex items-center gap-2">
            <span class="text-2xl">&bullet;</span>
            <p>
              <span class="font-semibold">{language}</span> - {fluency}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</article>
