---
import About from "@components/modern/About.astro";
import Experience from "@components/modern/Experience.astro";
---

<section class="flex flex-col gap-10">
  <About />
  <Experience />
</section>
