---
import { $userSelected } from "@store/store";
import TitleSection from "@components/modern/TitleSection.astro";

const { skills } = $userSelected.value!;
---

<article class="text-sm flex flex-col gap-2 mb-8 text-[var(--text)]">
  <TitleSection title="habilidades" />
  <div class="flex items-center gap-3">
    <ul>
      {
        skills.map(({ name }) => (
          <li class="flex items-center gap-2">
            <span class="text-2xl">&bullet;</span>
            {name}
          </li>
        ))
      }
    </ul>
  </div>
</article>
