---
import TitleSection from "@components/modern/TitleSection.astro";
import Contact from "@components/modern/Contact.astro";
import Skills from "@components/modern/Skills.astro";
import Education from "@components/modern/Education.astro";
---

<section class="flex flex-col gap-8">
  <Contact />
</section>
<article>
  <Skills />
</article>
<article>
  <Education />
</article>
