---
import Contact from "@components/modern/Contact.astro";
import Skills from "@components/modern/Skills.astro";
import Education from "@components/modern/Education.astro";
---

<section class="flex flex-col gap-8">
  <Contact />
  <Skills />
  <Education />
</section>
