---
import { $userSelected } from "@store/store";
import TitleSection from "@components/modern/TitleSection.astro";
const { basics, skills, education } = $userSelected.value!;
const { name, label, email, phone, image, location, profiles, url } = basics;
---

<section class="flex flex-col gap-8">
  <article>
    <TitleSection title="contacto" />
    <div class="text-xs">
      <p>{name}</p>
      <p>{label}</p>
      <p>{email}</p>
      <p>{phone}</p>
    </div>
  </article>
  <article>
    <TitleSection title="habilidades" />
  </article>
  <article>
    <TitleSection title="educación" />
  </article>
</section>
