---
import Layout from "@layouts/Layout.astro";
import ListUsers from "@components/ListUsers.astro";
---

<Layout title="CV List">
  <main class="text-center flex flex-col gap-6 py-10">
    <h1 class="text-yellow-500 text-2xl">CV List</h1>
    <ListUsers />
  </main>
</Layout>
