---
import Layout from "@layouts/Layout.astro";

import About from "@components/sections/About.astro";
import Education from "@components/sections/Education.astro";
import Experience from "@components/sections/Experience.astro";
import Hero from "@components/sections/Hero.astro";
import Projects from "@components/sections/Projects.astro";
import Skills from "@components/sections/Skills.astro";

const { email } = Astro.params;
import { $counter } from "@store/store";

const data = $counter.value;
const user = data?.find((json) => json.basics.email === email);
const title = user ? user.basics.name : "User not found";
---

<Layout title={title}>
  {
    user && (
      <main class="flex flex-col w-[800px] m-auto mt-16 border-yellow-500 border-2 p-10">
        <Hero />
        <About />
        <Experience />
        <Education />
        <Projects />
        <Skills />
      </main>
    )
  }
</Layout>
