---
import { $counter } from "@store/store";

const jsonList = $counter.value;
const data = jsonList?.sort((a, b) => {
  if (a.basics.name < b.basics.name) {
    return -1;
  }
  if (a.basics.name > b.basics.name) {
    return 1;
  }
  return 0;
});
---

<section class="flex flex-col gap-3 box-content m-auto">
  {
    data &&
      data.map(({ basics }) => (
        <a
          class="hover:text-black hover:bg-yellow-400 transition-all duration-[400ms] py-1 px-2 rounded-md"
          href={`/user/${basics.email}`}
          target="_blank"
        >
          {basics.name}
        </a>
      ))
  }
</section>
