---
import { $counter } from "@store/store";

const data = $counter.value;
---

<section class="flex flex-col gap-3 box-content m-auto">
  {
    data &&
      data.map(({ basics }) => (
        <a
          class="hover:text-black hover:bg-yellow-400 transition-all duration-[400ms] py-1 px-2 rounded-md"
          href={`/user/${basics.email}`}
          target="_blank"
        >
          {basics.name}
        </a>
      ))
  }
</section>
