---
import LayoutModern from "@layouts/LayoutModern.astro";

import Hero from "@components/modern/Hero.astro";
import Main from "@components/modern/Main.astro";
import Slider from "@components/modern/Slider.astro";

import { $userSelected, $listUsers } from "@store/store";

const { email } = Astro.params;

let title = "User not found";
const data = $listUsers.value;
const user = data?.find((json) => json.basics.email === email);

if (user) {
  $userSelected.set(user!);
  title = user!.basics.name;
}
---

<LayoutModern title={title}>
  {
    user && (
      <main class="flex flex-col w-[800px] m-auto mt-8">
        <Hero />
        <div class="flex">
          <div class="w-[40%] bg-[var(--bgSlider)] p-10">
            <Slider />
          </div>
          <div class="w-[60%] p-10 bg-[var(--bgMain)]">
            <Main />
          </div>
        </div>
      </main>
    )
  }
</LayoutModern>
