---
import LayoutModern from "@layouts/LayoutModern.astro";

import About from "@components/modern/About.astro";
import Education from "@components/modern/Education.astro";
import Experience from "@components/modern/Experience.astro";
import Hero from "@components/modern/Hero.astro";
import Projects from "@components/modern/Projects.astro";
import Main from "@components/modern/Main.astro";
import Slider from "@components/modern/Slider.astro";
import Skills from "@components/modern/Skills.astro";

import { $userSelected } from "@store/store";

const user = $userSelected.value?.basics!;
---

<LayoutModern title="">
  {
    user && (
      <main class="flex flex-col w-[800px] m-auto mt-8">
        <Hero />
        <div class="flex">
          <div class="w-[40%] bg-[var(--bgSlider)] p-10">
            <Slider />
          </div>
          <div class="w-[60%] p-10 bg-[var(--bgMain)]">
            <Main />
          </div>
        </div>
      </main>
    )
  }
</LayoutModern>
