---
import LayoutCreative from "@layouts/LayoutCreative.astro";

import Hero from "@components/creative/Hero.astro";
import Main from "@components/creative/Main.astro";
import Slider from "@components/creative/Slider.astro";

import { $userSelected, $listUsers } from "@store/store";

const { email } = Astro.params;

let title = "User not found";
const data = $listUsers.value;
const user = data?.find((json) => json.basics.email === email);

if (user) {
  $userSelected.set(user!);
  title = user!.basics.name;
}
---

<LayoutCreative title={title}>
  {
    user && (
      <main class="flex flex-col w-[800px] m-auto mt-10 mb-16 bg-white min-h-[64rem] shadow-slate-700 shadow-2xl">
        <Hero />
        <div class="flex px-10 gap-20 pb-2">
          <div class="flex-[5] bg-[var(--bgSlider)]">
            <Slider />
          </div>
          <div class="flex-[3] bg-[var(--bgMain)]">
            <Main />
          </div>
        </div>
      </main>
    )
  }
</LayoutCreative>

<style>
  @media print {
    main {
      box-shadow: none;
    }
  }
</style>
